---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout>
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mb-4">
          4loup is a one-woman software company specializing in procedural generation and creative code. I'm making the tools and games I wish existed.
        </p>
        <p>
          I give away nearly everything we do for free, so please consider <Link
            href="https://patreon.com/hazelthewolf"
            class="text-foreground"
            underline>donating</Link
          >. This is my primary income and I couldn't keep doing this without
          your support.
        </p>
      </div>
    </div>
  </section>
</Layout>
